@model ShopDoGiaDung.Models.PhanHoi

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>PhanHoi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDNguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDNguoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungPhanHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungPhanHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiPhanHoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiPhanHoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
